body {
    height: 100vh;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: 100vh;
    min-height: 100vh;
    height: -webkit-fill-available;
}

main {
    height: 100vh;
    height: auto!important;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #f4f4f4!important;
}