/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";
/*
.btn-primary {
    background-color: #ffe521;
    border-color: #ffe521;
}

.btn-primary:hover {
    background-color: #ffdb29;
    border-color: #ffdb29;
}

.btn-primary:disabled {
    background-color: #fff39b;
    border-color: #fff39b;
    opacity: 0.65;
}

.btn-primary:active {
    background-color: #ffdb29!important;
    border-color: #aa5fca!important;
}
    */