/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";

.btn-primary {
    background-color: #7e15e1;
    border-color: #7e15e1;
}

.btn-primary:hover {
    background-color: #6413af;
    border-color: #6413af;
}


.btn-primary:disabled {
    background-color: #987bb3;
    border-color: #987bb3;
    opacity: 0.65;
}

.btn-primary:active {
    background-color: #7e15e1!important;
    border-color: #7e15e1!important;
}


.text-primary {
    color: #7e15e1!important;
}
